.white{
  margin-top: 50px;
}

.alix{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
.max{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
.ishita{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
